
<div class="containers body">
	<div class="main_container">
		<div class="col-md-3 left_col" style="position: fixed;top:0;height:100%;box-shadow: 0 2px 4px #CCD0D7;">
			<div class="left_col scroll-view">
				<div class="navbar nav_title" style="border: 0;">
					<a href="{:URL('Index/index')}" class="site_title"><i class="fa fa-paw"></i> <span>商家后台</span></a>
				</div>
				<div class="clearfix"></div>
				<!-- sidebar menu -->
				<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
					<div class="menu_section">
						<!-- <h3>General</h3> -->
						<ul class="nav side-menu"> 
							
							{volist name="menudata" id="v"}
							<li>
								<a><i class="{$v.Menu_icon}"></i> {$v.Menu_name} <span class="fa fa-chevron-right"></span></a> {notempty name="v['newarr']"}
								<ul class="nav child_menu"> {volist name="v['newarr']" id="k"}
									<li tar="__ROOT__manage/{$k.Menu_url}">
										<a href="javascript:;">{$k.Menu_name}</a>
									</li> {/volist} </ul> {/notempty} </li> {/volist} </ul>
					</div>
				</div>
				<!-- /sidebar menu -->
				<!-- /menu footer buttons -->
				<div class="sidebar-footer hidden-small">
					<a title="退出系统" lay-submit lay-filter="jump"  dataurl="{:URL('Login/logout')}" style="width: 100%"> <span style="font-size: 16px;" class="glyphicon glyphicon-off" aria-hidden="true"></span> </a>
				</div>
				<!-- /menu footer buttons -->
			</div>
		</div>
		<!-- top navigation -->
		<div id="headertopright" class="top_nav navbar-fixed-top " style="z-index: 99;background: #4BBCB7;padding-right: 10px;box-shadow: 0 2px 4px #CCD0D7;" >
			<span class="f-l bd-l bd-r">
				<a href="{:URL('index/index')}"><i class="fa fa-tachometer"></i>门店概况</a>
			</span>
			<span class="f-l"><a class="">员工</a></span>
			
			<span class="f-r">
				<a><img src="__MANAGE__/images/logo2.png" alt=""/></a>
				<a ><i class="fa fa-question-circle"></i>帮助
					<ul>
						<li>帮助热线：</li>
						<li>18285009743</li>
					</ul>
				</a>
				<a ><i class="fa fa-comments-o"></i>客服
					<ul>
						<li>客服热线：</li>
						<li>18285009743</li>
					</ul>
				</a>
				<a >网络状态:<span class="sta">离线</span></a>
				<a ><i class="fa fa-cog"></i>
					<ul>
						<li>账号：{eq name="$Think.session.access" value='0'}{$Think.session.uid}{else/}{$Think.session.uname}{/eq}</li>
						<li>店名：{$Think.session.sjname}</li>
						<li><span class="layui-btn" lay-submit lay-filter="jump"  dataurl="{:URL('Login/logout')}">安全退出</span></li>
					</ul>
				</a>				
			</span>
	
		</div>
		<!-- /top navigation -->
		<!-- page content -->
		<div class="right_col" style="height: 100%;">
			<div class="right_main">
				<div id="loading" style='font-size:24px;position:fixed;top:50%;right:45%;'><i class='fa fa-spinner fa-spin' style='font-size:16px;margin-right:5px;vertical-align:middle'></i>页面初始化中...</div>
				<iframe id="rightmain" src="{:URL("Index/right")}" width="100%" height="100%" frameborder=0 marginheight=0 marginwidth=0></iframe>

			</div>
		</div>
		<!-- /page content -->
		<!-- footer content -->
		<footer class="navbar-fixed-bottom">
			<div class="pull-right"> 小草商盟
				<a href="http://www.xiaocaoshop.com" target="__blank">贵州小草商务电子有限公司</a>
			</div>
			<div class="clearfix"></div>
		</footer>
		<!-- /footer content -->
	</div>
</div>
<script type="text/javascript">
	
$(".user-profile").on("mouseenter", function() {
    if ($(this).parent().is(".open")) {
        return;
    }
    $(this).dropdown("toggle");
}).mouseleave(function(){
    if ($(this).parent().is("")) {
        return;
    }
    $(this).dropdown("toggle");	
});
    
    
	$(function() {
		loading();
		$(document).on("click", ".child_menu li", function() {
			link = $(this).attr("tar");
			$('#rightmain').attr('src',link);
			$('#rightmain').hide();
			loading();
		});
		
		function loading(){
			
			$('#loading').show();						
			document.getElementById('rightmain').onload=function(){
				$('#rightmain').show();
				$('#loading').hide();	
			};		
			
		}
		/*个人信息菜单点击事件*/
		$(".profileinfo li").each(function() {
			$(this).click(function() {
				var link = $(this).attr("tar");
				if(link == undefined && $(this).hasClass("modify")) {
					layer.open({
						type: 2,
						title: '密码修改',
						maxmin: true,
						area: ['500px', '336px'],
						content: '{:URL("Profile/modify")}',
					});
					return -1;
				}
				var v = $(this).find("a span").html();
				$.ajax({
					url: link,
					type: 'GET',
					htmlType: 'html',
					success: function(data) {
						$(".right_main").html(data);
					},
					error: function(errMsg) {
						alert(" 页面数据加载失败！");
					}
				});
			});
		});
	})
</script>