
   
<div class="layui-fluid">
	<div class="layui-row">
			<div class="layui-col-sm12">
			
			<form id="headform" class="layui-form layui-form-pane" method="get" method="{:URL('goods/index')}">
			<div class="layui-form-item">
				<div class="layui-input-inline"><input type="hidden" id="spflid" name="spflid" class="layui-input" placeholder="商品id"  value="{$idarr}"/></div>
				<div class="layui-input-inline"><input type="text" name="keyword" class="layui-input" placeholder="请输入品名或条码" value="{$key}" /></div>
				<div class="layui-input-inline"><button id="submit" type="submit" name="submit" class="layui-btn" ><i class="fa fa-search"></i>搜索</button></div>
				

			</div>				
			</form>
				
			</div>
	
			<div id="res">
			
			</div>
			
			<table class="layui-table layui-form">
				<thead class="text-center ">
					<!--<th width="20"><input type="checkbox" lay-filter="checkall"  lay-skin="primary" /></th>-->
					
					<th width="140">条码</th>
					<th>商品名称</th>
					<th>分类</th>
					<th width="60">保质期</th>
					<!--<th >状态</th>-->
					<th width="150">操作</th>
				</thead>
				<tbody>
					{empty  name="$splist"}	
					<tr><td colspan="8">
						<div class="layui-col-sm12 ">
							<h2 class="text-center red f-30"><i class="layui-icon layui-icon-cry" style="font-size: 40px;"></i><br>没有获取到数据</h2>
						</div>
						</td>
					</tr>	
					{/empty}
					{volist name="splist" id="v"}
					<tr>
						<!--<td><input type="checkbox" name="allck[]" value=""  lay-skin="primary" /></td>			-->
						<td class="text-center">{$v.commodity_code}</td>
						<td>{$v.commodity_name}({$v.guige})</td>
						<td>{$v.kinds.cpmmodity_type_name}</td>
						<td class="text-center">{$v.Shelf_life}天</td>
						<!--<td class="text-center" width="80">							
						      <input {eq name="$v.statue" value="0"}checked{/eq} name="isdel" dataid="" lay-skin="switch" lay-filter="switch" lay-text="启用|禁用" type="checkbox" class="pb-0 mb-0 mt-10 pt-0">						   					
						</td>-->
						<td class="text-center">
						  <div class="layui-btn-group">
						    <button class="layui-btn layui-btn-sm recycle" title="还原" arrid="{$v.commodity_code}" datatype="{$v.SPType}" dataurl="{:URL('goods/spstatusre',array('code'=>$v.commodity_code,'statue'=>$v.statue))}">还原商品</button>
						    <button class="layui-btn layui-btn-sm layui-btn-danger spdel" arrid="{$v.commodity_code}" datatype="{$v.SPType}" dataurl="{:URL('goods/alldel')}">删除</button>
						  </div>
						</td>
					</tr>
					{/volist}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="8" class="text-right">{$splist->render()}</td>
					</tr>
				</tfoot>
			</table>
			
			
		</div>	
	</div>
</div>
<div class="msgs"></div>
<button id="upimg" class="layui-btn excel hidden" lay-data="{ url: '{:URL('goods/importExcel')}' ,accept: 'file'}">图片上传</button>
<script>
	function upimg(obj){$(obj).click();};
layui.use(['laydate', 'form', 'layer','table', 'carousel', 'upload', 'element'], function() {
	var laydate = layui.laydate,
		$ = layui.jquery,
		laypage = layui.laypage,
		form = layui.form,
		layer = layui.layer,
		table = layui.table,
		carousel = layui.carousel,
		upload = layui.upload,
		element = layui.element;

  upload.render({
    elem: '.excel'
    ,before: function(obj){
    	var item=this.item;
     obj.preview(function(index, file, result){     
        layer.msg('正在上传文件！');
     });    	
    },  
    done: function(res, index, upload){
    	var ajaxdata=res.data;
    	//$.each(ajaxdata, function(result,item) {    		
	    	$.ajax({
	    		type:'post',
	    		url:"{:URL('goods/import')}",
	    		data:{arr:ajaxdata,id:'1'},
	    		beforeSend:function(inde){
	    			layer.open({
					  title: ''
					  ,content: '<p><i class="layui-icon layui-icon-loading"></i>请等待数据完成，正在导入数据...</p>'
					});
	    		},
	    		success:function(data){	
	    			layer.closeAll();
	    			
	    			//$('#msgs').append('<p>'+data+'</p>');
	    			layer.open({
					  title: ''
					  ,content: data
					});
	    			
	    			
	    		}
	    		
	    	//});    		
    	});

      
     	//alert(JSON.stringify(res.data));
      
    }
  });	
});	
  
	$('body').on('click','.recycle',function(){		
		var tip,type=$(this).attr('datatype'),url=$(this).attr('dataurl'),id=$(this).attr('arrid');

		tip="如果还原将还原主商品、属性和副单位商品,您确定要还原吗？";
		layer.confirm(tip, {
            btn : [ '确定', '取消' ]//按钮
        }, function(index) {
            layer.close(index);
			$.ajax({
				type:"post",
				url:url,
				data:{id:id,type:type},
				success:function(res){
					layer.msg(res.msg,{icon:res.status});
					if(res.status==1){
						window.location.reload();
					}
				},
				error:function(){
					layer.msg('网络错误！');
				}
			});
        }); 
		
		
	});
	
	
	$('body').on('click','.spdel',function(){		
		var tip,type=$(this).attr('datatype'),url=$(this).attr('dataurl'),id=$(this).attr('arrid');
		if(type==0){
			tip="这是主商品，如果删除将删除主商品下所有属性和副单位商品（不可恢复）,您确定要删除吗？";
		}else if(type==1){
			tip="这是属性商品，如果删除将删除属性商品下所有副单位商品（不可恢复）,您确定要删除吗？";
		}else{
			tip="这是副单位商品（不可恢复）,您确定要删除吗？";
		}
		layer.confirm(tip, {
            btn : [ '确定', '取消' ]//按钮
        }, function(index) {
            layer.close(index);
			$.ajax({
				type:"post",
				url:url,
				data:{id:id,type:type},
				success:function(res){
					layer.msg(res.msg,{icon:res.status});
					if(res.status==1){
						window.location.reload();
					}
				},
				error:function(){
					layer.msg('网络错误！');
				}
			});
        }); 
		
		
	});
</script>