<div class="layui-fluid">
	<div class="layui-row">
			<div class="layui-col-sm12">
			
			<form id="headform" class="layui-form layui-form-pane" method="get" method="{:URL('kuncun/changedetail')}">
			<div class="layui-form-item">

				<div class="layui-input-inline">
					<select name="statue">
						<option value="">全部类型</option>
						{volist name="status" id="v"}
						<option value="{$key}" {eq name="$sele" value="$key"}selected{/eq}>{$v}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline" style="width:340px"><input id="randtime" type="text" name="time" class="layui-input"  placeholder="时间选择" value="{$timearr}" /></div>
				<div class="layui-input-inline"><input  type="text" name="commodity_code" class="layui-input"  placeholder="商品条码" value="{$code}" /></div>
				<div class="layui-input-inline"><button id="submit" type="submit" name="submit" class="layui-btn" ><i class="fa fa-search"></i>搜索</button></div>
				
			</div>				
			</form>
				
			</div>
	
			<div id="res">
			
			</div>
			
			<table class="layui-table layui-form">
				<thead class="text-center ">
					<th width="40">序号</th>					
					<th>商品条码</th>					
					<th>商品名称</th>					
					<th>操作时间</th>					
					<th >变动类型</th>
					<th >库存变动</th>
					<th >库存变动前</th>
					<th >库存变动后</th>
				</thead>
				<tbody>
					{empty name="$bdlist"}
					<tr><td colspan="8" ><h2 class="f-30 pd-10 red text-center">暂无数据!</h2>  </td></tr>
					{/empty}
					{volist name="bdlist" id="v"}
					<tr class="">
						<td>{$key + 1}</td>
						<td>{$v.commodity_code}</td>
						<td>{$v.commodity_name}</td>
						<td>{$v.in_out_date}</td>
						<td>{$status[$v['statue']]}</td>
						<td>{$v.amount}</td>
						<td>{$v.amount}</td>
						<td>{$v.amount}</td>
					</tr>
					{/volist}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="8" class="text-right"></td>
					</tr>
				</tfoot>
			</table>
			
			
		</div>	
	</div>
</div>
